<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG feature Test"  >
  <test name="Feature Test" >
    <classes>
       <class name="TestNGPractice.Basics" />
       <class name="TestNGPractice.ExceptionTimeoutTest" />
       <class name="TestNGPractice.InvocationCountTest" />
       <class name="TestNGPractice.TestNGFeatures" />
    </classes>
  </test>
 

</suite>